@page "/"
@namespace WebUi.Pages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Календарь Этоната</title>
    <base href="~/"/>
    <link href="css/style.min.css" rel="stylesheet"/>
</head>
<body>
@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</body>
</html>