@page "/"
@namespace WebUi.Pages

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Календарь Этоната</title>
    <base href="~/" />
    @*<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />*@
    <link href="css/style.min.css" rel="stylesheet" />
    
    <meta http-equiv="refresh" content="30">
</head>
<body>
@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</body>
</html>